
.download-branch {
    margin-bottom:20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #EFF8FB;
}

.download-branch-header {
    padding: 10px;
    border-bottom: 1px solid #888;
}

.download-branch-title {
    font:normal 20px verdana;
    font-weight: 700;
    display: inline;
}

.download-branch-version {
    font:normal 12px verdana;
    display: inline;
    padding-left: 10px;
}

.download-branch-version:before {
    content: '(';
}

.download-branch-version:after {
    content: ')';
}


.download-branch-description {
    margin: 5px;
    font:normal 12px verdana;
}


.download-target {
    padding: 10px;
    min-height: 128px;
}



.download-target:before {
    float:left;
    content:"";
    width:128px;
    height:128px;
    border: 1px solid #000;
    border-radius: 10px;
}

#mac:before {
    background:url(mac.jpg);
}

#ps3:before {
    background:url(ps3.jpg);
}

#linux:before {
    background:url(tux.jpg);
}


.download-target-title {
    font:normal 20px verdana;
    display: inline;
    margin-left: 5px;
}


.download-target-version {
    font:normal 12px verdana;
    display: inline;
    padding-left: 10px;
}

.download-target-version:before {
    content: '(';
}

.download-target-version:after {
    content: ')';
}


.download-items {
    margin-top: 10px;
    margin-left: 140px;
}


.download-item {
    margin: -1px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font:normal 14px verdana;
    background: #fff;
    border: 1px solid #000;
    display: block;
    border-radius: 3px;

}

.download-item-filename {
    font-weight: 700;
}

.download-item-title {
    padding-left: 10px;
    font:normal 10px verdana;
}

.download-item-title:before {
    content: '(';
}

.download-item-title:after {
    content: ')';
}

.download-item-md5 {
    display: none;
}

.download-item-size {
    float: right;
}
